main {
    text-align: center;
    margin: 10px;
}

table {
    margin: auto;
}

.btn {
    width: 45px;
    height: 45px;
    font-size: 25px;
    margin: 2px;
    border-radius: 10px;
}

#screen {
    margin: 10px;
    font-size: 20px;
    border: 2px solid black;
    height: 30px;
    text-align: right;
}

.container {
    border: 5px solid red;
    display: inline-block;
    padding: 10px;
    border-radius: 39px;
    background-color: gray;
}

.delete {
    background-color: rgb(229, 84, 84);
    color: white;
    font-weight: bolder;

}